.idea
.DS_Store
.vscode
.shards/
*.dwarf
jb_updater/jb_updater
jb_updater.exe
*.o
dist/
artifacts/
jb_updater/lib
jb_updater/jb_updater_gui
jb_updater/jb_updater_cli
jb_updater/bin/ameba
jb_updater/bin/jb_updater
jb_updater/bin/jb_updater_gui
